{% extends 'base_layout.html' %}
{% block title %}Create View{% endblock %}


{% block content %}
<h3 class="text-center">Create a New Survey Question</h3>
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br /><br />
        <a href="{% url 'portal' %}" class="btn btn-success">Return To Portal</a>
    </div>


{% endblock %}
