{% extends 'base_layout.html' %}
{% block title %} Hap-Pea Foods | Volunteer Position {% endblock %}
{% block content %}
{% load static %}

<div class="container">
    <h1 class="text-center">Add Vounteer Positions for this Event.</h1>
    <form class="add_item_form" method="post">

      {% csrf_token %}
      {{ formset.as_p }}
      <input type="submit" value="Save"><br/>
      <button class="finished"><a href="{% url 'volunteer' %}" class="button">Finished</a></button>
    </form>
  </div>


{% endblock %}
