{% extends 'base_layout.html' %}
{% block title %} Hap-Pea Foods | Password Reset {% endblock %}
{% block content %}


  <form class="site-form" method="POST">
    <h4>Password Reset</h4>
    {% csrf_token %}
    {{form.as_p}}
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}
    <input type="submit" value="Request Password Reset">
    <p>By continuing, you agree to Hap-Pea Foods <a href="{% url 'terms_cond' %}">Terms and Conditions</a> and <a href="{% url 'privacy' %}">Privacy Notice.</a></p>
    <hr>
    <p>New To Hap-Pea Foods? <a href="{% url 'accounts:register' %}">Create an account.</a></p>
    <hr>
      <p>&copy; 2021, Hap-Pea Foods</p>
  </form>

{% endblock %}
