/* --------------------  CSS for base_layout starts here ------------------- */
body {
  background: #FBFBFF; /* whitish */
  font-family: Arial;
  padding: 10px;
}

/* start head_container */
.logo {
  float: left;
  width: 60%;
}

.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  height:0px;
}

.social {
  float: right;
}

/* start nav_container */
.main_nav {
  overflow: hidden;
  border-radius: 25px;
  background-color: #084F6C; /* blueish */
  float:left;
}

.main_nav li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

.main_nav a {
  float: left;
  display: block;
  color: #20BF55; /* greenish */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.main_nav a:hover {
  background-color: #FBFBFF; /* whitish */
  color: #000; /* black */
}

/* login logout links */
.login_nav {
  float: right;
}

.login_nav li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 20px;
}

.login_nav button {
  background: none;
  color: #BBB; /* greyish */
  cursor: pointer;
  border: 0;
  font-size: 1.2em;
}

/* Wrapper */
.wrapper_container {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper_container h1 {
  text align: center;
  margin: 100px auto;
  font-size: 2.4em;
}

/* --------------------  CSS for other pages starts here ------------------- */
/* stories_list css */

.createstory button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.stories {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.story {
  padding: 10px;
  border: 1px solid #20BF55; /* greenish */
  position: relative;
  padding-bottom: 40px;
}

.story h2 {
  font-size: 1.2em;
}

.story .author {
  padding: 10px;
  background: #20BF55; /* greenish */
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: #FBFBFF; /* whitish */
}

/* story-details css */
.story-detail .story {
  padding: 0;
}

.story-detail .story img {
  max-width: 100%;
}

.story-detail .story h1 {
  text-align: center;
  margin: 20px auto;
  font-size: 2em;
}

.story-detail .story p {
  text-align: center;
}

/* stories_create css */

/* site form css */
.site-form {
  margin-top: 60px;
  border: 1px solid #20BF55; /* greenish */
  padding: 20px;
}

.site-form input, .site-form textarea {
  display: block;
  margin: 20px 0 0 0;
  padding: 10px;
}

a.highlight {
  border: 1px solid #20BF55;  /* greenish */
  padding: 10px;
  border-radius: 4px;
  color: #20BF55;  /* greenish */
}

.helptext, .helptext ul {
  margin: 0 auto 20px;
  color: #000; /* black */
  font-size: 0.9em;
  display: block;
}

.errorlist li {
  padding: 10px;
  list-style-type: none;
  border: 1px solid #E32636; /* Alizarin Crimson */
  color: #E32636; /* Alizarin Crimson */
  margin: 10px 0;
}

.errorlist {
  padding: 0;
}

.site-form input[type="submit"] {
  background: #20BF55; /* greenish */
  border: 0;
  color: #000;
  font-size: 1.2em;
  border-radius: 4px;
  margin: 10px 0;
}


/* --------------------  Continue CSS for base_layout starts here ------------------- */
/* Footer container */
footer {   /* overall footer styles */
  padding: 20px;
  background: #084F6C; /* blueish */
  color: #FBFBFF; /* whitish */
  margin-top: 20px;
}

.f_copyright {

}

.f_links {

}

.f_social {

}

.f_subscribe {

}

.f_address {

}
