/*  CSS for base_layout */
body {
  background: #FBFBFF; /* whitish */
  font-family: Arial;
  padding: 10px;
}

/* start head_container */

.logo {
  float: left;
  width: 20%;
}

.logo img {
  width: auto;
}

.logo_head {
  float: left;
  width: 50%;
  text-align: center;
  font-style: bold;
  font-size: 80px;
  padding: 30px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0px;
}

.social {
  float: right;
}

.social .search_bar {
  margin-top: 15px;
}
/* start nav_container */
.main_nav {
  overflow: hidden;
  width: 100%;
  background-color: #084F6C; /* blueish */
  float:left;
}

.main_nav li {
  float: left;
  display: inline;
}

.main_nav a {
  float: left;
  display: block;
  color:#FBFBFF; /* whitish */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.main_nav a:hover {
  color: #20BF55; /* greenish */
}

/* login logout links */
.login_nav {
  float: right;
}

.login_nav li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 20px;
}

.login_nav button {
  background: #084F6C; /* blueish */
  color: #BBB; /* greyish */
  cursor: pointer;
  border-radius: 25px;
}

/* Wrapper */
.wrapper_container {
  max-width: 90%;
  margin: 0 auto;
}

.wrapper_container h1 {
  text align: center;
  margin: 100px auto;
  font-size: 2.4em;
}

/* Footer container */
footer {   /* overall footer styles */
  padding: 20px;
  background: #084F6C; /* blueish */
  color: #FBFBFF; /* whitish */
  margin-top: 20px;
}

.f_copyright {

}

.f_links {

}

.f_social {

}

.f_subscribe {

}

.f_address {

}


/* --------------------  CSS for other pages starts here ------------------- */

/* css for homepage */



/* stories_list css */

.createstory button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.stories {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.story {
  padding: 10px;
  border: 1px solid #20BF55; /* greenish */
  position: relative;
  padding-bottom: 40px;
}

.story h2 {
  font-size: 1.2em;
}

.story .author {
  padding: 10px;
  background: #20BF55; /* greenish */
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: #FBFBFF; /* whitish */
}

/* story-details css */
.story-detail .story {
  padding: 0;
}

.story-detail .story img {
  max-width: 100%;
}

.story-detail .story h1 {
  text-align: center;
  margin: 20px auto;
  font-size: 2em;
}

.story-detail .story p {
  text-align: center;
}

/* stories_create css */

/* site-form css */
.site-form {
  margin-top: 60px;
  border: 1px solid #20BF55; /* greenish */
  padding: 20px;
}

.site-form input, .site-form textarea {
  display: block;
  margin: 20px 0 0 0;
  padding: 10px;
}

a.highlight {
  border: 1px solid #20BF55;  /* greenish */
  padding: 10px;
  border-radius: 4px;
  color: #20BF55;  /* greenish */
}

.helptext, .helptext ul {
  margin: 0 auto 20px;
  color: #000; /* black */
  font-size: 0.9em;
  display: block;
}

.errorlist li {
  padding: 10px;
  list-style-type: none;
  border: 1px solid #E32636; /* Alizarin Crimson */
  color: #E32636; /* Alizarin Crimson */
  margin: 10px 0;
}

.errorlist {
  padding: 0;
}

.site-form input[type="submit"] {
  background: #20BF55; /* greenish */
  border: 0;
  color: #000;
  font-size: 1.2em;
  border-radius: 4px;
  margin: 10px 0;
}

/* Partners page CSS */

.portal img{
  white-space: nowrap;
  padding-left: 100px;
  padding-bottom: 100px;
}


/* Image slider home page */

.slide_body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 800%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/* css for manual slide navigation */

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual.btn {
  border: 2px solid #20BF55;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover {
  background: #20BF55;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for automatic navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top:460px;
}

.navigation-auto div{
  border: 2px solid #20BF55;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #20BF55;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #20BF55;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #20BF55;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #20BF55;
}
