{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Stories</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div class = "dev_header">
      <h1>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'stories:stories' %}">Stories</a>
        <a href="{% url 'accounts:register' %}">Register</a>
        <a href="{% url 'accounts:login' %}">Login</a>
      </h1>
      <nav>
        <ul>
          <li>
            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit"name="logout">Logout</button>
            </form>
          </li>
        </ul>
      </nav>
    </div>
    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
