{% extends 'base_layout.html' %}
{% block title %} Hap-Pea Foods | Find Help {% endblock %}
{% block content %}
<h1 class="d-h1">Find Help Page</h1><br/>
<div class="d-container">
  <h2 class="d-h1">Please use the map to find food assistance near you.</h2>
  <div class="d-row">
    <div class="d-col">
      <iframe name="myiframe"
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
          &q=Arizona+state+university+Tempe+AZ">
      </iframe>
    </div>
    <div class="d-col">
      <h3>Food Distribution Locations</h3>
      <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
        &q=Arizona+state+university+Tempe+AZ" target="myiframe">ASU</a>
        <br/>
        Some description Text
        <br/>
        Hours- etc
        <br/>
        Address?
      </p>
      <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
        &q=714S+Myrtle+Ave+Tempe+AZ+85281" target="myiframe">Salvation Army Food Distribution</a>
        <br/>
        Some description Text
        <br/>
        Hours- etc
        <br/>
        Address?
      </p>
      <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
        &q=ICNA+ReliefCommunity+Food+Pantry" target="myiframe">ICNA Relief Community Food Pantry
      </a>
      <br/>
      Some description Text
      <br/>
      Hours- etc
      <br/>
      Address?</p>
      </div>
      <div class="d-col">
        <h3>Food Banks</h3>
        <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
          &q=Arizona+state+university+Tempe+AZ" target="myiframe">ASU</a>
          <br/>
          Some description Text
          <br/>
          Hours- etc
          <br/>
          Address?
        </p>
        <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
          &q=714S+Myrtle+Ave+Tempe+AZ+85281" target="myiframe">Salvation Army Food Distribution</a>
          <br/>
          Some description Text
          <br/>
          Hours- etc
          <br/>
          Address?</p>

        <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
          &q=ICNA+ReliefCommunity+Food+Pantry" target="myiframe">ICNA Relief Community Food Pantry</a>
          <br/>
          Some description Text
            <br/>
          Hours- etc
          <br/>
          Address?</p>

    </div>
</div>



{% endblock %}
