{% extends 'base_layout.html '%}
{% block title %}Hap Pea Foods | Logged Out{% endblock %}
{% block content %}

  <a href=""><img src="{% assests/logo.png %}" alt="logo"></a><br>
  <h1><center>You are now logged out.</center></h1>

  <br>

  <h1> Login </h1>
  <form class="site-form" action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    {{form}}
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}
    <input type="submit" value="Login">
    <p>By continuing, you agree to Hap Pea Foods <a href="terms">Terms and Conditions</a> and <a href="privacy">Privacy Notice.</a></p>
  </form>

  <br>
  <hr>

  <h4>New To Hap Pea Foods?</h4>
  <form class="site-form" action="accounts/signup" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Create An Account">
  </form>

  <br>
  <hr>

  <p>&copy; 2021, Hap Pea Foods</p>


{% endblock %}
