{% extends 'base_layout.html '%}
{% block title %} Hap-Pea Foods | Logged Out {% endblock %}
{% block content %}
{% load static %}


  <h1><center>You are now logged out.</center></h1>

  <form class="site-form" action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    {{form}}
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}
    <center><input type="submit" value="Go To Login Page" ></center>
    <p>By continuing, you agree to Hap-Pea Foods <a href="terms">Terms and Conditions</a> and <a href="privacy">Privacy Notice.</a></p>
    <hr>
    <h4><a href="reset.html">I forgot my username or password.</a></h4>
    <h4>New To Hap-Pea Foods? <a href="register.html">Create an account.</a></h4>
    <hr>
      <p>&copy; 2021, Hap-Pea Foods</p>
  </form>



{% endblock %}
