{% extends 'base_layout.html '%}
{% block title %}Hap-Pea Foods | User Portal{% endblock %}
{% block content %}
  <div class="main">
    <div class="up_head">
      <h1>{{ user.username }}'s User Portal</h1><br/>
    </div>
    <div class="portal">
      <ul>
        <li><a href="{% url 'accounts:profile' %}">User Profile</a></li>
        <li><a href="#">My Calendar</a></li>
        <li><a href="#">Volunteer</a></li>
        <li><a href="#">Create Event</a></li>
        <li><a href="#">Serach for Donations</a></li>
        <li><a href="#">Donate Food</a></li>
        <li><a href="#">Monitary Donation</a></li>
        <li><a href="#">Survey</a></li>
        <li><a href="#">Survey Results</a></li>
        <li><a href="#">Organizations</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
